/* Grommet styles import and custom overrides*/

$form-field-input-color: black;
$primary-color: #D4EEEB;
$secondary-color:#FFD2D1;
$hero-breakpoint: 735px;
@import '~grommet/scss/vanilla/index';
.grommetux-hero:not(.grommetux-hero--stack) {
  position: initial !important;
}

.grommetux-hero--stack {
  flex: unset !important;
  display: unset !important;
  position: unset !important;
}

.grommetux-image--medium {
  width: 300px !important;
  padding-bottom: 1em;
}

.grommetux-button:not(.grommetux-button--box) {
  padding: 6px 2.5em !important;
}

.grommetux-form-field.grommetux-form-field--size-medium {
  border-color: $form-field-input-color !important;
}

.grommetux-text-input.grommetux-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $form-field-input-color;
}

.grommetux-text-input.grommetux-input::-moz-placeholder {
  /* Firefox 19+ */
  color: $form-field-input-color;
}

.grommetux-text-input.grommetux-input:-ms-input-placeholder {
  /* IE 10+ */
  color: $form-field-input-color;
}

.grommetux-text-input.grommetux-input:-moz-placeholder {
  /* Firefox 18- */
  color: $form-field-input-color;
}

input.grommetux-text-input.grommetux-input {
  color: $form-field-input-color;
}

/* Custom classes */

.landing-inputs-wrapper {
  padding-left: 1em;
}

.padding-element-small {
  padding: .5em;
}

.landing-link-button {
  padding: 6px 0.5em !important;
}

.landing-slogan {
  color: $form-field-input-color !important;
  padding-left: 1em;
  margin-top: unset;
  margin-bottom: unset;
  margin: 6px 0 14px 0 !important;
}

.admin-panel-wrapper {
  width: 95%;
}

@media screen and (max-width: $hero-breakpoint) {
  .grommetux-hero__background {
    display: none;
  }
  .grommetux-hero {
    background: linear-gradient(to left bottom, $primary-color, $secondary-color);
  }
  .admin-login-nav-item {
    display: none;
  }
  .grommetux-image--medium {
    width: 327px !important;
  }
}